<!DOCTYPE html>
<html>
  <head>
    <title>MyPage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <%# <div class="main"> %>
    <div class="header">
      <ul class="header-text">
        <li>
          <a class="menu", href="/">Home</a>
        </li>
        <li>
          <a class="menu", href="/profile">Profile</a>
        </li>
        <li>
          <a class="menu", href="/works">Works</a>
        </li>
      </ul>
    </div>
    <%# </div> %>
      <%= yield %>
    <%# <div class="main"> %>
    <div class="header">
      <ul class="header-text">
        <li>
          <a class="menu", href="/">Home</a>
        </li>
        <li>
          <a class="menu", href="/profile">Profile</a>
        </li>
        <li>
          <a class="menu", href="/works">Works</a>
        </li>
      </ul>
    </div>
    <%# </div>   %>
  </body>
</html>
